 body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    h1{
        font-weight: 800;
    }
    h2:hover,
    h3:hover {
        color: hsl(35, 77%, 62%);
        cursor: pointer;
    }
 }
